body {
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
    /* font: "Inter" sans-serif; */
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

.primary-btn {
    background-color: var(--figma-color-bg-brand);
}

.switch__label {
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
}

.switch__label:before {
    background-color: var(--figma-color-bg-secondary);
    /* border: 1px solid var(--figma-color-border); */
}

.switch__toggle:checked + .switch__label:before {
    background-color: var(--figma-color-bg-brand);
}

.switch__label:after {
    /* background-color: var(--figma-color-bg-brand); */
    /* border: 1px solid var(--figma-color-border-onbrand); */
}
